<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Category information</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"
    />
  </head>
  <body>
    <main class="container">
      <nav
        style="margin-bottom: 20px; border-bottom: 2px solid; padding-left: 30px"
      >
        <ul>
          <li><a href="/" role="button"> Go back to the main page </a>
              <a href="/delete_category/{{category.id}}" role="button" class="contrast">Delete Category</a>
          </li>
        </ul>
      </nav>
      <h1>{{category.name}}</h1>

    </main>
  </body>
</html>