<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Report</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"
    />
  </head>
  <body>
    <main class="container">
      <nav
        style="margin-bottom: 20px; border-bottom: 2px solid; padding-left: 30px"
      >
        <ul>
          <li><a href="/" role="button"> Go back to the main page </a>
        </ul>
      </nav>
      <form method="POST" action="{% url 'report' %}">
        {% csrf_token %}

        <div style="padding: 10px">
          <label
            >Date for filtering from:
            <input type="date" name="low_limit" required />
          </label>
        </div>
        <div style="padding: 10px">
          <label
            >Date for filtering up to:
            <input type="date" name="up_limit" required />
          </label>
        </div>

        <div class="grid">
          <button type="submit">Submit</button>
          <button type="reset" class="secondary">Reset</button>
        </div>
      </form>
      <h1><mark>Incomes for period:</mark></h1>
      <p>
        {% for income in incomes_for_report %}
        <ul>
          <li>
            {{income.summa}} hrn., {{income.transaction_date}}
          </li>
        </ul>
        {% endfor %}
      </p>
      <p style="font-size:30px; background-color:#dee2e6;">Total Incomes for period: {{sum_income}} hrn. </p>

      <h1><mark>Spendings for period:</mark></h1>
      <p>
        {% for spending in spendings_for_report %}
        <ul>
          <li>
            {{spending.summa}} hrn., {{spending.transaction_date}}
          </li>
        </ul>
        {% endfor %}
      </p>
      <p style="font-size:30px; background-color:#dee2e6;">Total Spendings for period: {{sum_spending}} hrn. </p>
    </main>
  </body>
</html>